body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.container{
  display: center;
  padding: 120px 120px 100px 100px;
}
.about{
  margin:auto;
}

#intro{
  text-align: justify;
  text-justify: inter-word;
}

.button{
  border-radius: 5px;
  background-color: white; 
  color: black;
  text-align: center;
  font-size: 12px;
  margin-top:20px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.default {
  border-color: #e7e7e7;
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.default:hover {
  background: #e7e7e7;
}

.skills{
  display: center;
  background-color: black;
  padding: 30px 100px 100px 80px
}

.title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
} 
.progress {
  height: 5px;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio{
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-container1,.portfolio-container2,.portfolio-container3, .portfolio-container4, .portfolio-container5{
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}

.image1, .image2, .image3, .image4, .image5{
  width: 100%;
  height: 500px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1, .middle2, .middle3, .middle4, .middle5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.portfolio-container1:hover .image1{
  opacity: 0.2;
}
.portfolio-container1:hover .middle1{
  opacity: 1;
}
.portfolio-container2:hover .image2{
  opacity: 0.2;
}
.portfolio-container2:hover .middle2{
  opacity: 1;
}
.portfolio-container3:hover .image3{
  opacity: 0.2;
}
.portfolio-container3:hover .middle3{
  opacity: 1;
}
.portfolio-container4:hover .image4{
  opacity: 0.2;
}
.portfolio-container4:hover .middle4{
  opacity: 1;
}
.portfolio-container5:hover .image5{
  opacity: 0.2;
}
.portfolio-container5:hover .middle5{
  opacity: 1;
}


.text{
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.link{
  display: flex;
  justify-content: center;
}

.fa-link {
  text-decoration: none; 
  color: black; 
  font-size: 27px;
  margin-top: 6px; 
  margin-left: 10px;
}
.fa-link:hover {
  text-decoration: none; 
  color: grey; 
  font-size: 27px; 
  margin-top: 6px; 
  margin-left: 10px;
}

.fa-github {
  text-decoration: none; 
  color: black; 
  font-size: 36px; 
}
.fa-github:hover {
  text-decoration: none; 
  color: grey; 
  font-size: 36px; 
}

.portfolio-intro{
  position: absolute;
  top: 1px;
  width: 300px;
  border-radius: 2px;
  background-color: #000000; 
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  padding:10px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);

}


/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('image/pic1.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;

}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 65px;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.6s steps(20, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.contact{
  text-align: center;
  font-size: 20px;
  background-color: black;
  padding-top: 27px;
  padding-bottom: 27px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1300px) {
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
